/* #lay_out{background: url(../back.png); width: 900px;  height: 1038px;} */
#lay_out{background-image: url('../back.png') no-repeat; width: 900px; height: 1038px; margin: 0 auto;}

/* 레이아웃 큰 박스 속성 */
#lay_out{margin: 0 auto; width: 900px;}
#ub_top{width: 900px; height: 145px; background: #000000;
 margin-bottom: 15px;}
 #ub_left{float: left; width: 645px; }
 #ub_right{float: right; width: 245px;  }
 #ub_bot{float: left; width: 900px; background: #99cc00; margin-top: 20px;}
 /* 중앙 좌측 상단 박스 속성 */
 #ub_box{float: left; width: 615px; background: #000000; margin-bottom: 15px; padding: 15px;}
 #ub_main_bn{float: left; width: 615px; height: 120px; background: #ffffff; margin-bottom: 15px;}
 #ub_main_comm{float: left; width: 615px; height: 170px; background: #ffffff; margin-bottom: 15px;}
 #ub_main_link{float: left; width: 615px; height: 100px; background: #ffffff;}
 
 /* 중앙 좌측 하단 박스 속성 */
 #ub_movie{float: left; width: 645px; height: 230px; background: #000000; margin-bottom: 15px;}
 #ub_ads{float: left; width: 645px; height: 70px; background: #000000;}
 
 /* 중앙 우측 상단 박스 속성 */
 #ub_login{width: 245px; height: 175px; background: #000000; margin-bottom: 10px;}
 #ub_event{width: 245px; height: 265px; background: #000000; margin-bottom: 17px;}
 
/* 중앙 우측 하단 박스 속성 */
#ub_box_right{width: 215px; height: 283px; background: #000000; padding: 15px;}
#ub_poll{float: right; width: 215px; height: 186px; background: #ffffff; margin: 0 0 15px 0;}
#ub_notice{float: right; width: 215px; height: 80px; background: #ffffff;}

/* 하단 박스 속성 */
#bot_menu{float: left; width: 900px; height: 30px; background: #666666;}
#bot_copy{float: left; width: 900px; height: 27px; text-align: center; background: #333333;}
 